<link rel="import" href="./../job-log/job-log.html">
<link rel="import" href="./../view-config/view-config.html">
<link rel="import" href="./../error-page/error-page.html">

<dom-module id="build-process">
  <template>
    <style>
      paper-tabs {
        --paper-tabs-selection-bar-color: var(--paper-grey-900);
        --paper-tab-ink: var(--paper-grey-900);
        -webkit-font-smoothing: antialiased;
        width: 80%;
        margin: 0 auto;
      }
      paper-tab[link] a {
        @apply(--layout-horizontal);
        @apply(--layout-center-center);
        color: var(--paper-grey-900);
        text-transform: uppercase;
        text-decoration: none;
      }
      .spinner-container {
        position: absolute;
        top: 0;
        left: -6em;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .cfg {
        left: -9em;
      }
      paper-spinner-lite {
        --paper-spinner-color: var(--paper-grey-900);
        --paper-spinner-stroke-width: 2px;
        width: 1em;
        height: 1em;
      }

    </style>

    <iron-selector selected="{{subPage}}" attr-for-selected="name" class="drawer-list" role="navigation">
        <paper-tabs selected="{{subPage}}" attr-for-selected="name">
            <paper-tab link name="/job-log">
                <div hidden$="[[jobAnswer]]" class="spinner-container">
                    <paper-spinner-lite active={{!jobAnswer}}></paper-spinner-lite>
                </div>
                <a name="/job-log" href="/build_process/job-log">Job log</a>
            </paper-tab>
                <paper-tab link name="/view-config">
                <div hidden$="[[cfgAnswer]]" class="spinner-container cfg">
                    <paper-spinner-lite active={{!cfgAnswer}}></paper-spinner-lite>
                </div>
                <a name="/view-config" href="/build_process/view-config">View config</a>
            </paper-tab>
        </paper-tabs>
    </iron-selector>

    <section>
        <iron-pages
          selected="{{subPage}}"
          attr-for-selected="name">
            <job-log
              id="jobLog"
              name="/job-log"
              responsed="{{jobAnswer}}"></job-log>
            <view-config
              id="viewConfig"
              name="/view-config"
              responsed="{{cfgAnswer}}"></view-config>
            <error-page name="view404">Error 404. Page  not found.</error-page>
        </iron-pages>
    </section>

  </template>
  <script src="build-process.js"/></script>
</dom-module>







