<link rel="import" href="./../styles/shared-styles.html">
<link rel="import" href="./../config-builder/config-builder.html">

<dom-module id="create-config">
  <template>
    <style include="shared-styles">
    </style>
        
    <paper-material elevation="1" class="card">
      <h2>Create Config</h2>   
      <config-builder 
        url="../data/json/setConfig.json"></config-builder>
    </paper-material>
  </template>
  <script>
    class createConfig extends Polymer.Element {
      static get is() { return 'create-config'; }
      static get properties() {
        return {
         }
      }

    }
    window.customElements.define(createConfig.is, createConfig);
  </script>
</dom-module>
