<link rel="import" href="./../styles/shared-styles.html">

<dom-module id="view-three">
  <template>
    <style include="shared-styles">
    </style>
    <paper-material elevation="1" class="card">
      <h2>View 3</h2>
    </paper-material>
  </template>
  <script>
    class ViewThree extends Polymer.Element {
      static get is() { return 'view-three'; }
      static get properties() {
        return { }
      }

    }
    window.customElements.define(ViewThree.is, ViewThree);
  </script>
</dom-module>
