<link rel="import" href="./../styles/shared-styles.html">
<link rel="import" href="./../error-page/error-page.html">

<dom-module id="view-config">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
    </style>

    <iron-ajax
      id="configAjax"
      url="../data/json/config.json"
      handle-as="json"
      loading="{{loading}}"
      on-response="startLoader"
      on-request="endLoader"
      on-error="getError"
      last-response="{{response}}"></iron-ajax>

    <error-page hidden="{{!errorText}}">{{errorText}}</error-page>

    <paper-material elevation="1" class="card" hidden="{{loading}}">
      <h2>Config info</h2>
      <div class="text-section" id="textSection">
        <template is="dom-repeat" items=[[response.config]]>
          <div class="line clearfix">
            <div class="number">[[getNumber()]]</div>
            <div class$="{{getClass(item.text)}}">[[item.text]]</div>
          </div>
        </template>
      </div>
    </paper-material>
  </template>
  <script src="view-config.js"></script>
</dom-module>
