
<dom-module id="data-header">
  <template>
    <style include="shared-styles"></style>
    <style include="data-header-styles"></style>

    <paper-material class="field card" elevation="1">
      <div class="path"><p><b>Repometric >> linterhub-atom >> master >> build 10 >> Rebuild</b></p></div>
      <div class="result small-font" onclick="[[getError]]">{{statusText}}</div>
      <div class="prim-info">
        <p>Pull request #13 - Use atom-linter v2, code refactoring</p>
        <p>Oleg Safonov</p>
      </div>
      <div class="sec-info-cont middle-font">
        <div class="sec-info">
          <p><b>When: </b>8 days ago</p>
          <p><b>Branch: </b>master</p>
          <p><b>Req Num: </b>91f50477</p>
        </div>
      </div>
    </paper-material>

  </template>
  <script src="data-header.js"></script>
</dom-module>
