<dom-module id="data-header-styles">
    <template>
      <style>
        .field {
          position: relative;
        }
        .path p {
          margin-bottom: 0;
        }
        .prim-info {
          margin: 2em 1.7em;
          padding-left: 1em;
          border-left: .2em solid var(--google-grey-700);
          display: inline-block
        }
        .prim-info p {
          margin: .5em 0;
        }
        .sec-info-cont {
          border-top: solid .05em var(--google-grey-700);
        }
        .sec-info {
          display: inline-block;
          padding-top: .7em;
        }
        .sec-info p {
          margin: .5em 1.7em;
        }

        @media screen and (max-width: 740px) {
          .path p {
            width: 80%;
          }
        }
    </style>
  </template>
</dom-module>
