<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style>
      .card {
        width: 80%;
        margin: 1em auto;
        padding: 1.2em;
        color: #757575;
        background-color: var(--paper-grey-100);
      }
      .inline {
        display: inline-block;
      }
      h2 {
        font-size: 1.3em;
        font-weight: normal;
        text-transform: capitalize;
      }
      .overlay {
        position: absolute;
        top: 10em;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #e0e0e0;
        z-index: 100;
      }
      paper-spinner-lite {
        --paper-spinner-color: var(--paper-grey-900);
      }
      .textSection {
        display: block;
        padding: 1em 0;
        margin: 0;
        color: #e0e0e0;
        font-family: "RobotoMono", "Monaco", "Courier New", monospace;
        font-size: .76em;
        background-color: #231f20;
      }
      span {
        line-height: 1.9em;
      }
      .one-step {
        padding-left: 1.4em;
        margin: 0;
      }
      .two-step {
        padding-left: 2.4em;
        margin: 0;
      }
      .one-step, .two-step {
        width: 90%;
        display: inline;
        float: left;
      }
      .line {
        display: block;
      }
      .line:hover {
        background-color: #312b2d;
        cursor: pointer;
      }
      .number {
        width: 1em !important;
        display: inline;
        float: left;
        text-align: right;
        color: #6e7071;
      }
      .clearfix:after {
        content: "";
        clear: both;
        display: table;
      }
      @media screen and (max-width: 732px) {
        .one-step, .two-step {
          width: 80%;
        }
      }
      @media screen and (max-width: 362px) {
        .one-step, .two-step {
          width: 77%;
        }
      }
      @media screen and (max-width: 322px) {
        .one-step, .two-step {
          width: 75%;
        }
      }
    </style>
  </template>
</dom-module>
